@{
    ViewData["Title"] = "HomePage";
}

<div class="image-container">
    <img src="~/Images/parkedcars1.jpg" class="full-width-image" alt="Library Image">
</div>

<div class="overlay-text">
    <h1>Rent A Car Website</h1>
    <p>A site dedicated for people on the way</p>
</div>